<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="styles.css" />
    <title>ConvertMyMoney</title>
  </head>
  <body>
    <%- include('header') %>

    <form action="/price" method="GET">
      <input type="number" name="price" placeholder="Price of the dollar" />
      <input type="number" name="quantity" placeholder="Quantity of dollar" />
      <button>Convert !</button>
    </form>
  </body>
</html>
